/* Desktop */

position: relative;
width: 1366px;
height: 3170px;

background: #FFFFFF;


/* Hero Section */

position: absolute;
width: 1366px;
height: 768px;
left: 0px;
top: 0px;



/* Rectangle 9 */

position: absolute;
width: 1366px;
height: 768px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);


/* Menu Bar */

position: absolute;
width: 1134px;
height: 59px;
left: 116px;
top: 42px;



/* Logo */

position: absolute;
width: 69px;
height: 47px;
left: 116px;
top: 48px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 47px;
/* identical to box height */

color: #FFFFFF;



/* Menu Items */

position: absolute;
width: 534px;
height: 59px;
left: 716px;
top: 42px;



/* About */

position: absolute;
width: 51px;
height: 24px;
left: 716px;
top: 60px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #FFFFFF;



/* Services */

position: absolute;
width: 70px;
height: 24px;
left: 827px;
top: 60px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #FFFFFF;



/* Our Work */

position: absolute;
width: 78px;
height: 24px;
left: 957px;
top: 60px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #FFFFFF;



/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;

position: absolute;
width: 155px;
height: 59px;
left: 1095px;
top: 42px;

background: #023047;
border-radius: 24px;


/* Button Text */

width: 91px;
height: 27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Learn the art of Game Dev */

position: absolute;
width: 457px;
height: 126px;
left: 116px;
top: 219px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 125%;
/* or 62px */

color: #FFFFFF;



/* This is a comprehensive course on Game Development. You will learn everything from generating an idea to publishing your games to different platforms. */

position: absolute;
width: 457px;
height: 96px;
left: 116px;
top: 363px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
/* or 32px */

color: #FFFFFF;



/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 32px;
gap: 10px;

position: absolute;
width: 183px;
height: 59px;
left: 116px;
top: 489px;

background: #DA722C;
border-radius: 24px;


/* PencilAlt */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 35%;
right: 10%;
top: 10%;
bottom: 35%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 10%;
right: 20%;
top: 20%;
bottom: 10%;

background: #FFFFFF;


/* Button Text */

width: 91px;
height: 27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* hero-image 1 */

position: absolute;
width: 446px;
height: 582px;
left: 841px;
top: 186px;

background: url(.png);


/* Achievements */

position: absolute;
width: 213px;
height: 98px;
left: 623px;
top: 323px;



/* Rectangle 11 */

position: absolute;
width: 206px;
height: 97px;
left: 630px;
top: 324px;

background: linear-gradient(180deg, #6F7DFB 0%, #3B448F 100%);
border-radius: 24px;


/* Rectangle 10 */

position: absolute;
width: 206px;
height: 90px;
left: 623px;
top: 323px;

background: #FFFFFF;
border-radius: 24px;


/* 32K */

position: absolute;
width: 68px;
height: 45px;
left: 692px;
top: 330px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 125%;
/* identical to box height, or 45px */

color: #023047;



/* Students Enrolled */

position: absolute;
width: 139px;
height: 20px;
left: 656px;
top: 375px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */

color: #023047;



/* Group 1 */

position: absolute;
width: 188px;
height: 98px;
left: 589px;
top: 562px;



/* Rectangle 11 */

position: absolute;
width: 185px;
height: 95px;
left: 592px;
top: 565px;

background: linear-gradient(180deg, #6F7DFB 0%, #3B448F 100%);
border-radius: 24px;


/* Rectangle 10 */

position: absolute;
width: 183px;
height: 90px;
left: 589px;
top: 562px;

background: #FFFFFF;
border-radius: 24px;


/* 4.7 */

position: absolute;
width: 54px;
height: 45px;
left: 633px;
top: 571px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 125%;
/* identical to box height, or 45px */

color: #023047;



/* Overall Rating */

position: absolute;
width: 112px;
height: 20px;
left: 630px;
top: 616px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */

color: #023047;



/* emojione:star */

position: absolute;
width: 44px;
height: 44px;
left: 691px;
top: 571px;



/* Vector */

position: absolute;
left: 3.12%;
right: 3.12%;
top: 4.69%;
bottom: 4.69%;

background: #FFCE31;


/* Testimonials Section */

position: absolute;
width: 1135px;
height: 546px;
left: 116px;
top: 868px;



/* Testimonials Left */

position: absolute;
width: 474px;
height: 546px;
left: 116px;
top: 868px;



/* Rectangle 12 */

position: absolute;
width: 28px;
height: 546px;
left: 203px;
top: 868px;

background: #023047;
border-radius: 24px;


/* Testimonial */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 442px;
height: 222px;
left: 116px;
top: 903px;

background: #FFFFFF;
box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
border-radius: 24px;


/* Testimonial Content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px 32px;
gap: 10px;

width: 442px;
height: 102px;

background: #6F7DFB;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Amazing Work! Well done! */

width: 378px;
height: 54px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 150%;
/* or 27px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Name & Image */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 32px;
gap: 106px;

width: 442px;
height: 120px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Testimonial Name */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 152px;
height: 59px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Jane Cooper */

width: 148px;
height: 29px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */

color: #023047;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Developer, Sony */

width: 136px;
height: 22px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
/* identical to box height, or 22px */

color: #023047;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Testimonial Image */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 0px 0px 24px;
gap: 10px;

width: 120px;
height: 120px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Ellipse 1 */

margin: 0 auto;
width: 120px;
height: 120px;

background: url(.jpg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Testimonial */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 442px;
height: 195px;
left: 148px;
top: 1175px;

background: #FFFFFF;
box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
border-radius: 24px;


/* Testimonial Content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px 32px;
gap: 10px;

width: 442px;
height: 75px;

background: #DA722C;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Amazing Work! Well done! */

width: 378px;
height: 27px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Name & Image */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 32px;
gap: 106px;

width: 442px;
height: 120px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Testimonial Name */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 152px;
height: 59px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Jane Cooper */

width: 143px;
height: 29px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */

color: #023047;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Developer, Sony */

width: 164px;
height: 22px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
/* identical to box height, or 22px */

color: #023047;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Testimonial Image */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 0px 0px 24px;
gap: 10px;

width: 120px;
height: 120px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Ellipse 1 */

margin: 0 auto;
width: 120px;
height: 120px;

background: url(.jpg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Testimonials Right */

position: absolute;
width: 559px;
height: 377px;
left: 692px;
top: 953px;



/* Heading */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 559px;
height: 144px;
left: 692px;
top: 953px;



/* Heading 2 */

width: 559px;
height: 144px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 120%;
/* or 72px */

color: #023047;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* All students get access to all the videos and also the source code of the projects. You will also have access to a private Discord channel where you can discuss your doubts. */

position: absolute;
width: 558px;
height: 128px;
left: 693px;
top: 1113px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
/* or 32px */

color: #023047;



/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;

position: absolute;
width: 167px;
height: 59px;
left: 692px;
top: 1271px;

background: #DA722C;
border-radius: 24px;


/* Button Text */

width: 103px;
height: 27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Testimonials Section */

position: absolute;
width: 1135px;
height: 546px;
left: 116px;
top: 868px;



/* Testimonials Left */

position: absolute;
width: 474px;
height: 546px;
left: 116px;
top: 868px;



/* Rectangle 12 */

position: absolute;
width: 28px;
height: 546px;
left: 203px;
top: 868px;

background: #023047;
border-radius: 24px;


/* Testimonial */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 442px;
height: 222px;
left: 116px;
top: 903px;

background: #FFFFFF;
box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
border-radius: 24px;


/* Testimonial Content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px 32px;
gap: 10px;

width: 442px;
height: 102px;

background: #6F7DFB;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Amazing Work! Well done! */

width: 378px;
height: 54px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 150%;
/* or 27px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Name & Image */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 32px;
gap: 106px;

width: 442px;
height: 120px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Testimonial Name */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 152px;
height: 59px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Jane Cooper */

width: 148px;
height: 29px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */

color: #023047;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Developer, Sony */

width: 136px;
height: 22px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
/* identical to box height, or 22px */

color: #023047;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Testimonial Image */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 0px 0px 24px;
gap: 10px;

width: 120px;
height: 120px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Ellipse 1 */

margin: 0 auto;
width: 120px;
height: 120px;

background: url(.jpg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Testimonial */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 442px;
height: 195px;
left: 148px;
top: 1175px;

background: #FFFFFF;
box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
border-radius: 24px;


/* Testimonial Content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px 32px;
gap: 10px;

width: 442px;
height: 75px;

background: #DA722C;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Amazing Work! Well done! */

width: 378px;
height: 27px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Name & Image */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 32px;
gap: 106px;

width: 442px;
height: 120px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Testimonial Name */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 152px;
height: 59px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Jane Cooper */

width: 143px;
height: 29px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */

color: #023047;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Developer, Sony */

width: 164px;
height: 22px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
/* identical to box height, or 22px */

color: #023047;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Testimonial Image */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 0px 0px 24px;
gap: 10px;

width: 120px;
height: 120px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Ellipse 1 */

margin: 0 auto;
width: 120px;
height: 120px;

background: url(.jpg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Testimonials Right */

position: absolute;
width: 559px;
height: 377px;
left: 692px;
top: 953px;



/* Heading */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 559px;
height: 144px;
left: 692px;
top: 953px;



/* Heading 2 */

width: 559px;
height: 144px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 120%;
/* or 72px */

color: #023047;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* All students get access to all the videos and also the source code of the projects. You will also have access to a private Discord channel where you can discuss your doubts. */

position: absolute;
width: 558px;
height: 128px;
left: 693px;
top: 1113px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
/* or 32px */

color: #023047;



/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;

position: absolute;
width: 167px;
height: 59px;
left: 692px;
top: 1271px;

background: #DA722C;
border-radius: 24px;


/* Button Text */

width: 103px;
height: 27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Courses Section */

position: absolute;
width: 1366px;
height: 785px;
left: 0px;
top: 1514px;



/* Rectangle 9 */

box-sizing: border-box;

position: absolute;
width: 1366px;
height: 785px;
left: 0px;
top: 1514px;

background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
border: 1px solid #000000;


/* Heading */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 524px;
height: 72px;
left: 421px;
top: 1584px;

border: 1px solid #000000;


/* Heading 2 */

width: 524px;
height: 72px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 120%;
/* identical to box height, or 72px */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Course */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 32px;
gap: 30px;

position: absolute;
width: 526px;
height: 418px;
left: 126px;
top: 1712px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 24px;


/* Rectangle 7 */

width: 462px;
height: 260px;

background: url(.jpg);
filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title and Duration */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 462px;
height: 90px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Game Design Essentials */

width: 374px;
height: 90px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 150%;
/* or 45px */

color: #023047;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 5px;

width: 72px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Clock */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 10%;
right: 10%;
top: 10%;
bottom: 10%;

background: #023047;


/* 8 HRS */

width: 47px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #023047;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 8 */

width: 462px;
height: 8px;

background: #023047;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Course */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 32px;
gap: 30px;

position: absolute;
width: 526px;
height: 418px;
left: 116px;
top: 1712px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 24px;


/* Rectangle 7 */

width: 462px;
height: 260px;

background: url(.jpg);
filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title and Duration */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 462px;
height: 90px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Game Design Essentials */

width: 374px;
height: 90px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 150%;
/* or 45px */

color: #023047;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 5px;

width: 72px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Clock */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 10%;
right: 10%;
top: 10%;
bottom: 10%;

background: #023047;


/* 8 HRS */

width: 47px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #023047;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 8 */

width: 462px;
height: 8px;

background: #023047;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Course */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 32px;
gap: 30px;

position: absolute;
width: 526px;
height: 418px;
left: 725px;
top: 1712px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 24px;


/* Rectangle 7 */

width: 462px;
height: 260px;

background: url(.jpg);
filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title and Duration */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 462px;
height: 90px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Game Design Essentials */

width: 374px;
height: 90px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 150%;
/* or 45px */

color: #023047;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 5px;

width: 72px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Clock */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 10%;
right: 10%;
top: 10%;
bottom: 10%;

background: #023047;


/* 8 HRS */

width: 47px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #023047;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 8 */

width: 462px;
height: 8px;

background: #023047;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;

position: absolute;
width: 168px;
height: 59px;
left: 1083px;
top: 2170px;

background: #DA722C;
border: 1px solid #000000;
border-radius: 24px;


/* Button Text */

width: 104px;
height: 27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* App Section */

position: absolute;
width: 1070px;
height: 262px;
left: 148px;
top: 2399px;



/* Heading */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 680px;
height: 72px;
left: 343px;
top: 2399px;



/* Heading 2 */

width: 680px;
height: 72px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 120%;
/* identical to box height, or 72px */
text-align: center;

color: #023047;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* You can use our App for better experience on smartphones */

position: absolute;
width: 1070px;
height: 32px;
left: 148px;
top: 2484px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
/* identical to box height, or 32px */
text-align: center;

color: #023047;



/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 31px;
gap: 14px;

position: absolute;
width: 254px;
height: 100px;
left: 358px;
top: 2561px;

background: #000000;


/* Vector */

width: 60px;
height: 60px;

background: linear-gradient(180deg, #15C9FB 0%, #1977F3 100%);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* App Store */

width: 118px;
height: 48px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 200%;
/* identical to box height, or 48px */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 31px;
gap: 14px;

position: absolute;
width: 310px;
height: 100px;
left: 358px;
top: 2561px;

background: #000000;


/* Vector */

width: 60px;
height: 60px;

background: linear-gradient(180deg, #15C9FB 0%, #1977F3 100%);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* App Store */

width: 118px;
height: 48px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 200%;
/* identical to box height, or 48px */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 31px;
gap: 14px;

position: absolute;
width: 310px;
height: 100px;
left: 698px;
top: 2561px;

background: #000000;


/* Group 8 */

width: 55.71px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
height: 53.79px;
left: 10%;
right: 80.84%;
top: 23.1px;

background: #3BCCFF;


/* Vector */

position: absolute;
height: 26.78px;
left: 11.5%;
right: 77.13%;
top: 20px;

background: #48FF48;


/* Vector */

position: absolute;
height: 26.78px;
left: 11.5%;
right: 77.13%;
top: 53.22px;

background: #FF3333;


/* Vector */

position: absolute;
height: 17.26px;
left: 21.33%;
right: 72.03%;
top: 41.37px;

background: #FFD400;


/* Google Play */

width: 143px;
height: 48px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 200%;
/* identical to box height, or 48px */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Footer */

position: absolute;
width: 1366px;
height: 409px;
left: 0px;
top: 2761px;



/* Rectangle 13 */

position: absolute;
width: 1366px;
height: 409px;
left: 0px;
top: 2761px;

background: #070917;


/* Footer Links */

position: absolute;
width: 179px;
height: 205px;
left: 116px;
top: 2831px;



/* Quick Links */

position: absolute;
width: 105px;
height: 36px;
left: 116px;
top: 2831px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 200%;
/* identical to box height, or 36px */
text-align: center;

color: #DA722C;



/* About Us */

position: absolute;
width: 72px;
height: 32px;
left: 140px;
top: 2881px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
/* identical to box height, or 32px */

color: #FFFFFF;



/* Contact Us */

position: absolute;
width: 89px;
height: 32px;
left: 139px;
top: 2922px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
/* identical to box height, or 32px */

color: #FFFFFF;



/* Privacy Policy */

position: absolute;
width: 109px;
height: 32px;
left: 139px;
top: 2963px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
/* identical to box height, or 32px */

color: #FFFFFF;



/* Terms & Conditions */

position: absolute;
width: 156px;
height: 32px;
left: 139px;
top: 3004px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
/* identical to box height, or 32px */

color: #FFFFFF;



/* Footer Links */

position: absolute;
width: 112px;
height: 164px;
left: 427px;
top: 2831px;



/* Course */

position: absolute;
width: 67px;
height: 36px;
left: 427px;
top: 2831px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 200%;
/* identical to box height, or 36px */

color: #DA722C;



/* Log In */

position: absolute;
width: 47px;
height: 32px;
left: 451px;
top: 2881px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
/* identical to box height, or 32px */

color: #FFFFFF;



/* Download */

position: absolute;
width: 81px;
height: 32px;
left: 450px;
top: 2922px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
/* identical to box height, or 32px */

color: #FFFFFF;



/* All Courses */

position: absolute;
width: 89px;
height: 32px;
left: 450px;
top: 2963px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
/* identical to box height, or 32px */

color: #FFFFFF;



/* This website is developed by GTCoding © 2021 */

position: absolute;
width: 367px;
height: 32px;
left: 116px;
top: 3068px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
/* identical to box height, or 32px */

color: #FFFFFF;



/* akar-icons:facebook-fill */

position: absolute;
width: 24px;
height: 24px;
left: 832px;
top: 2929px;



/* Group 9 */

position: absolute;
width: 545px;
height: 187px;
left: 671px;
top: 2831px;



/* Contact Us */

position: absolute;
width: 102px;
height: 36px;
left: 671px;
top: 2831px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 200%;
/* identical to box height, or 36px */

color: #DA722C;



/* contact@email.com */

position: absolute;
width: 164px;
height: 32px;
left: 695px;
top: 2881px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
/* identical to box height, or 32px */

color: #FFFFFF;



/* Vector */

position: absolute;
width: 24px;
height: 24px;
left: 695px;
top: 2929px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 24px;
height: 24px;
left: 747px;
top: 2929px;

background: #FFFFFF;


/* Rectangle 14 */

position: absolute;
width: 521px;
height: 39px;
left: 695px;
top: 2979px;

background: #FFFFFF;
border-radius: 8px;


/* Email Address */

position: absolute;
width: 113px;
height: 32px;
left: 722px;
top: 2983px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
/* identical to box height, or 32px */

color: #000000;

opacity: 0.5;


/* Rectangle 15 */

position: absolute;
width: 135px;
height: 30px;
left: 1075px;
top: 2984px;

background: #023047;
border-radius: 8px;


/* Subscribe */

position: absolute;
width: 80px;
height: 32px;
left: 1103px;
top: 2983px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
/* identical to box height, or 32px */

color: #FFFFFF;

