*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
h1{
    background-color: rgb(2, 2, 36);
    color: azure;
    height: 5rem;
    line-height: 5rem;
    
}
.choice{
    height: 160px;
    width: 160px;
    
}
img
{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;

}
.choices
{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 100px;
   gap:3rem;
}
.scores{
    font-size: larger;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.msgc{
    height: 200px;
    width: 100%;
   
}
.msg
{ 
    margin: left 500px;;
    margin-top: 100px;
    padding: 1rem;
    border-radius: 15px;
    width: 200px;
    background-color: rgb(243, 5, 5);
    color: azure;
    font-size: 2rem;
}

.choice:hover{
    opacity:50%;
}